<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>iconImage</key>
			<string>more_icon_query@2x.png</string>
			<key>title</key>
			<string>物品资料</string>
			<key>tagImage</key>
			<string>list_news_item_new_mark@2x.png</string>
		</dict>
		<dict>
			<key>iconImage</key>
			<string>first_win_calendar_win@2x.png</string>
			<key>title</key>
			<string>定制播放器</string>
			<key>tagImage</key>
			<string>list_news_item_new_mark@2x.png</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>iconImage</key>
			<string>more_icon_forum@2x.png</string>
			<key>title</key>
			<string>地图相关</string>
			<key>tagImage</key>
			<string></string>
		</dict>
		<dict>
			<key>iconImage</key>
			<string>icon_push_big@2x.png</string>
			<key>title</key>
			<string>支付相关</string>
			<key>tagImage</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>iconImage</key>
			<string>chat_mobile_online@2x.png</string>
			<key>title</key>
			<string>扫一扫</string>
			<key>tagImage</key>
			<string>list_news_item_hot_mark@2x.png</string>
		</dict>
		<dict>
			<key>iconImage</key>
			<string>chat_mobile_online@2x.png</string>
			<key>title</key>
			<string>掌盟二维码</string>
			<key>tagImage</key>
			<string></string>
		</dict>
		<dict>
			<key>iconImage</key>
			<string>more_icon_guess@2x.png</string>
			<key>title</key>
			<string>知识学院</string>
			<key>tagImage</key>
			<string></string>
		</dict>
		<dict>
			<key>iconImage</key>
			<string>ability_lol_hero_time@2x.png</string>
			<key>title</key>
			<string>英雄学院</string>
			<key>tagImage</key>
			<string>list_news_item_hot_mark@2x.png</string>
		</dict>
	</array>
</array>
</plist>
