<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>手机号登录</string>
			<key>desc</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>三方登录</string>
			<key>desc</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>消息推送</string>
			<key>desc</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>隐私设置</string>
			<key>desc</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>省流量</string>
			<key>desc</key>
			<string>资源图片自动下载设置</string>
		</dict>
		<dict>
			<key>title</key>
			<string>清空缓存</string>
			<key>desc</key>
			<string>0.00KB</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>联系我们</string>
			<key>desc</key>
			<string>电话：4008-517-517</string>
		</dict>
		<dict>
			<key>title</key>
			<string>我的收藏</string>
			<key>desc</key>
			<string></string>
		</dict>
	</array>
</array>
</plist>
